<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3416658791-gkeip8km2c2o51k4l6nm0pluspknr111.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3416658791-gkeip8km2c2o51k4l6nm0pluspknr111</string>
	<key>API_KEY</key>
	<string>AIzaSyDtvYGgSt1O1yl40i6yLgoNzMSUSoEiCl4</string>
	<key>GCM_SENDER_ID</key>
	<string>3416658791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gidaproyectos.heshe</string>
	<key>PROJECT_ID</key>
	<string>he-she-aad2c</string>
	<key>STORAGE_BUCKET</key>
	<string>he-she-aad2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:3416658791:ios:6fa8d8d40543351f5395c2</string>
	<key>DATABASE_URL</key>
	<string>https://he-she-aad2c.firebaseio.com</string>
</dict>
</plist>
